*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
}

body{
	font-size: 20px;
}

.navigation{
	height: 70px;
	background: #3B302A;
}

.navigation-link{
	text-decoration: none;
	line-height: 70px;
	padding: 0 30px;
	color: white;
}

.navigation-link:hover{
	color: #E7CE7C;
}

.navigation-small-image{
	display: none;
}

.navigation-small{
	display: none;
}

.logo{
	height: 90px;
	width: 70px;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 30px;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: white;
	min-width: 150px;
	list-style: none;
	z-index: 2;
}

.dropdown-content a{
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
	margin-left: 5px;
	color: #E7CE7C;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.margin-container{
	margin: 50px 40px;
}

.aboutus-header{
	font-size: 50px;
	color: gray;
	line-height: 1.5;
}

.aboutus-text{
	color: gray;
	line-height: 1.5;
}

.container-news{
	background: #9D9895;
	padding: 40px;
}

.news-section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.news-section-header{
	font-size: 50px;
	line-height: 1.5;
	text-align: center;
	padding-bottom: 20px;
	color: #3B302A;
}

.news{
	flex-grow: 1;
	flex-basis: 45%;
	background: #9D9895;
	padding: 20px;
	position: relative;
	height: 200px;
}

.news:hover{
	background: #3B302A;
	transform: scale(1.09);
	 transition-duration: 0.5s;
	z-index: 2;
}

.news-header{
	font-size: 30px;
	line-height: 1.5;
	color: #F5E8DB;
}
.news-brief{
	line-height: 1.5;
	color: white;
}

.news-date{
	margin-top: 5%;
	float: left;
	font-size: 12px;
}

.news-readmore{
	margin-top: 5%;
	float: right;
	text-decoration: none;
	background: #17ADCE;
	color: #E7CE7C;
	padding: 10px;
}

.news-readmore:hover{
  color:#17ADCE;
  background: #E7CE7C; 
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	direction: row;
	color: #E7CE7C;
	height: 400px;
}

.footer-text{
	width: 60%;
}

.footer-text-body{
	color: white;
}

.page-container{

}

.page{
	background: #D8D6D4;
	padding: 50px;
}

.page-title{
	font-size: 50px;
	line-height: 1.5;
	font-weight: bold;
}

.page-content{
 	color: lightgray;
	line-height: 1.5;
}

hr{
    height: 3px;
    background-color: #000;
    border: none;
}

