
@media screen and (max-width: 700px) {
	body{
		font-size: 16px;
	}

	.navigation{
		display: none;
	}

	.navigation-small-image{
		display: block;
		position: relative;
		left: 85%;
		top: 5%;
		z-index: 2;

	}

	.navigation-small{
		position: absolute;
		right: 90%;
		background-color: white;
		min-width: 150px;
		list-style: none;
		z-index: 2;
	}

	.navigation-small a{
		color: black;
		padding: 10px 16px;
		text-decoration: none;
		display: block;
	}

	.navidation-small-dropdown{
		position: relative;
		display: inline-block;
	}

	.navigation-small-dropdown-content{
		display: none;
		position: absolute;
		right: 100%;
		margin-top: -45px;
		background-color: white;
		min-width: 150px;
		list-style: none;
		z-index: 2;
	}

	.navigation-small-dropdown:hover .navigation-small-dropdown-content{
		display: block;
	}

	.navigation-small-image:hover .navigation-small{
		display: block;
	}

	canvas{
		display: none;
	}

	.footer{
		display: flex;
		justify-content: center;
		align-items: center;
		direction: row;
	}

	.footer-image{
		width: 20%;
	}

	.footer-text{
		margin-left: 5%;
		width: 70%;
	}

	.footer-text img{
		width: 100%;
	}
}

/*@media screen and (min-width: 900px){
	.footer-text{
		position: absolute;
		top: 40%;
		left: 15%;
		right: 30%;
	}

	.footer-image{
		position: absolute;
		top: 40%;
		left: 5%;
		margin-right: 40px;
	}
}
*/
